CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/AE1_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_AE1/v3"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12"
	xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.12"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_AE1/v3">
	
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12"	schemaLocation="StruttureGenerali_v1_12.xsd"/>
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.12" schemaLocation="StruttureEl_v1_12.xsd" />
	
	<!-- ************** FLUSSI **************** -->
	
	<!-- *************** 0050 ***************** -->
	
	<xs:complexType name="FlussoAE1.0050Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreType" />
					<xs:element name="DatiTecnici" type="sel:DatiTecniciFornituraType" />
					<xs:element name="ClienteFinale" type="sg:ClienteFinaleCompletoType" minOccurs="0"/>            
					<xs:element name="ReferenteClienteFinale" type="sg:AnagraficaReferenteClienteFinaleType" minOccurs="0"/>            
					<xs:element name="DatiCommerciali" type="sg:DatiCommercialiTutelaType" minOccurs="0"/>
					<xs:element name="TipologiaRichiesta" type="sg:TipologiaRichiestaVariazioneBaseType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="AE1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0050" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** 0100 ***************** -->
	
	<xs:complexType name="FlussoAE1.0100Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPOpzType" />
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType" />
					<xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType" />
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="AE1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0100" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** 0150 ***************** -->
	
	<xs:complexType name="FlussoAE1.0150Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
					<xs:element name="Esito" type="sg:EsitoBaseType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="AE1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0150" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>