CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/APN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APN/v1"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5"
	xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.3"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APN/v1">
	
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5"	schemaLocation="StruttureGenerali_v1_5.xsd"/>
	
	<!-- ************** FLUSSI **************** -->
	
	<!-- *************** 0200 ***************** -->
	
	<xs:complexType name="FlussoAPN.0200Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaGestoreCPUtenteType"/>
					<xs:element name="DatiPratica" type="sg:AnnullamentoDatiPraticaType"/>
					<xs:element name="DatiTecnici" type="sg:DatiTecniciMinimaliType"/>
					<xs:element name="DatiAnnullamento" type="sg:DatiAnnullamentoPraticaType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="APN" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0200" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** RESP ***************** -->

	<xs:complexType name="FlussoAPN.RESPType" >
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
          <xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaGestoreCPUtenteType"/>
					<xs:element name="Esito" type="sg:DefaultEsitoType"/>
				</xs:sequence>        
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="APN"/>
				<xs:attribute name="COD_FLUSSO" use="required" fixed="RESP"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>