CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/APR.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5"
	 xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.3"
	 xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APR/v1"
	 targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APR/v1"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<!-- *************** 0050 ***************** -->
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5" schemaLocation="StruttureGenerali_v1_5.xsd"/>

	<!-- ************** FLUSSI **************** -->
	<xs:complexType name="FlussoAPR.0050Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPOpzGestoreCPOpzType"/>
					<xs:element name="DatiPratica" type="sg:AnnullamentoDatiPraticaType"/>
					<xs:element name="DatiTecnici" type="sg:DatiTecniciMinimaliType"/>
					<xs:element name="DatiAnnullamento" type="sg:DatiAnnullamentoPraticaType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="APR" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0050" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- *************** 0100 ***************** -->
	<xs:complexType name="FlussoAPR.0100Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPOpzGestoreCPOpzType"/>
					<xs:element name="DatiPratica" type="sg:AnnullamentoDatiPraticaBaseType"/>
					<xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType"/>
					<xs:element ref="sg:NOTE" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="APR" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0100" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- *************** 0150 ***************** -->
	<xs:complexType name="FlussoAPR.0150Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPOpzGestoreCPType"/>
					<xs:element name="DatiPratica" type="sg:AnnullamentoDatiPraticaBaseType"/>
					<xs:element name="Esito" type="sg:EsitoBaseType"/>
					<xs:element ref="sg:NOTE" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="APR" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0150" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- *************** RESP ***************** -->
	<xs:complexType name="FlussoAPR.RESPType">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPOpzGestoreCPType"/>
					<xs:element name="Esito" type="sg:DefaultEsitoType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="APR" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="RESP" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>