CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/APR_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APR/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APR/v1" schemaLocation="APR.xsd"/>
	
	<!-- ************** APR:0050 ************** --> 
	
	<complexType name="RichiestaAnnullamentoPraticaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:RichiestaAnnullamentoPraticaRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:RichiestaAnnullamentoPraticaDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaAnnullamentoPraticaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:RichiestaAnnullamentoPraticaAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaAnnullamentoPraticaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="APR" />
					<element name="Operazione" type="string" fixed="APR.0050" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaAnnullamentoPraticaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoAPR.0050Type" />
		</sequence>
	</complexType>

	<!-- ************** APR:0050 ************** -->
	
	<!-- ************** APR:0100 ************** -->
	
	<complexType name="AmmissibilitaRichiestaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:AmmissibilitaRichiestaRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:AmmissibilitaRichiestaDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:AmmissibilitaRichiestaAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="APR" />
					<element name="Operazione" type="string" fixed="APR.0100" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoAPR.0100Type" />
		</sequence>
	</complexType>
	
	<!-- ************** APR:0100 ************** -->
	
	<!-- ************** APR:0150 ************** -->
	
	<complexType name="EsitoAnnullamentoPraticaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:EsitoAnnullamentoPraticaRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:EsitoAnnullamentoPraticaDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="EsitoAnnullamentoPraticaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:EsitoAnnullamentoPraticaAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="EsitoAnnullamentoPraticaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="APR" />
					<element name="Operazione" type="string" fixed="APR.0150" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="EsitoAnnullamentoPraticaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoAPR.0150Type" />
		</sequence>
	</complexType>
	
	<!-- ************** APR:0150 ************** -->

	<!-- ************** APR:RESP ************** -->

	<complexType name="DefaultResponseMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:DefaultResponseRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:DefaultResponseDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="DefaultResponseRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:DefaultResponseAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="DefaultResponseAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="APR"/>
					<element name="Operazione" type="string" fixed="APR.RESP"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="DefaultResponseDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoAPR.RESPType"/>
		</sequence>
	</complexType>

	<!-- ************** APR:RESP ************** -->
	
</schema>