CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/ATG2_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_ATG2/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_ATG2/v1" schemaLocation="ATG2.xsd"/>
	
	<!-- ************** ATG2:0200 ************** -->
	
	<complexType name="NotificaAttivazioneServiziUltimaIstanzaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:NotificaAttivazioneServiziUltimaIstanzaRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:NotificaAttivazioneServiziUltimaIstanzaDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaAttivazioneServiziUltimaIstanzaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:NotificaAttivazioneServiziUltimaIstanzaAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaAttivazioneServiziUltimaIstanzaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="ATG2" />
					<element name="Operazione" type="string" fixed="ATG2.0200" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaAttivazioneServiziUltimaIstanzaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoATG2.0200Type" />
		</sequence>
	</complexType>
	
	<!-- ************** ATG2:0200 ************** -->

	<!-- ************** ATG2:0201 ************** -->
	
	<complexType name="AmmissibilitaNotificaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:AmmissibilitaNotificaRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:AmmissibilitaNotificaDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaNotificaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:AmmissibilitaNotificaAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaNotificaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="ATG2" />
					<element name="Operazione" type="string" fixed="ATG2.0201" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaNotificaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoATG2.0201Type" />
		</sequence>
	</complexType>
	
	<!-- ************** ATG2:0201 ************** -->
	
	<!-- ************** ATG2:RESP ************** -->

	<complexType name="DefaultResponseMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:DefaultResponseRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:DefaultResponseDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="DefaultResponseRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:DefaultResponseAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="DefaultResponseAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="ATG2"/>
					<element name="Operazione" type="string" fixed="ATG2.RESP"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="DefaultResponseDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoATG2.RESPType"/>
		</sequence>
	</complexType>

	<!-- ************** ATG2:RESP ************** -->
	
</schema>