CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/CS1_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_CS1/v1"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.9"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">
	
	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>
	
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_CS1/v1" schemaLocation="CS1.xsd"/>
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.9" schemaLocation="StruttureGenerali_v1_9.xsd" />
	
	<complexType name="RichiestaConfigurazioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:RichiestaConfigurazioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:RichiestaConfigurazioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaConfigurazioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:RichiestaConfigurazioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaConfigurazioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="CS1"/>
					<element name="Operazione" type="string" fixed="CS1.0050"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaConfigurazioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoCS1.0050Type"/>
		</sequence>
	</complexType>
	
	<complexType name="AmmissibilitaRichiestaConfigurazioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:AmmissibilitaRichiestaConfigurazioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:AmmissibilitaRichiestaConfigurazioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaConfigurazioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:AmmissibilitaRichiestaConfigurazioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaConfigurazioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="CS1"/>
					<element name="Operazione" type="string" fixed="CS1.0100"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="AmmissibilitaRichiestaConfigurazioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoCS1.0100Type"/>
		</sequence>
	</complexType>
	
	<complexType name="EsitoRichiestaConfigurazioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:EsitoRichiestaConfigurazioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:EsitoRichiestaConfigurazioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="EsitoRichiestaConfigurazioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:EsitoRichiestaConfigurazioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="EsitoRichiestaConfigurazioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="CS1"/>
					<element name="Operazione" type="string" fixed="CS1.0150"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="EsitoRichiestaConfigurazioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoCS1.0150Type"/>
		</sequence>
	</complexType>
	
</schema>
