CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/NV1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.1"
	 xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.3"
	 targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_NV1/v1"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.1" schemaLocation="StruttureEl_v1_1.xsd"/>
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.3" schemaLocation="StruttureGenerali_v1_3.xsd"/>

	<!-- ************** FLUSSI **************** -->
	<xs:complexType name="FlussoNV1.0200Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUDDGestoreType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
					<xs:element name="ClienteFinale" type="sg:ClienteFinaleBaseType"/>
					<xs:element name="DatiRichiesta" type="sg:DatiRichiestaBaseType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="NV1" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0200" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlussoNV1.0201Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUDDGestoreCPOpzType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
					<xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="NV1" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0201" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>