CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/NV1_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_NV1/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_NV1/v1" 
		schemaLocation="NV1.xsd"/>

	<complexType name="notificaRifiutoVolturaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:notificaRifiutoVolturaRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:notificaRifiutoVolturaDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRifiutoVolturaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:notificaRifiutoVolturaAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRifiutoVolturaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="NV1"/>
					<element name="Operazione" type="string" fixed="NV1.0200"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRifiutoVolturaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoNV1.0200Type"/>
		</sequence>
	</complexType>
	
	
	<complexType name="ammissibilitaNotificaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:ammissibilitaNotificaRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:ammissibilitaNotificaDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaNotificaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:ammissibilitaNotificaAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaNotificaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="NV1"/>
					<element name="Operazione" type="string" fixed="NV1.0201"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaNotificaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoNV1.0201Type"/>
		</sequence>
	</complexType>

</schema>
