CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/PK1v3_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_PK1/v3"
	xmlns:stg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_PK1/v3" 
		schemaLocation="PK1v3.xsd"/>
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1" 
		schemaLocation="StruttureGenerali.xsd"/>
	
	<complexType name="richiestaPrecheckMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:richiestaPrecheckRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:richiestaPrecheckDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="richiestaPrecheckRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:richiestaPrecheckAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="richiestaPrecheckAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="PK1"/>
					<element name="Operazione" type="string" fixed="PK1.0050"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="richiestaPrecheckDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoPK1.0050Type"/>
		</sequence>
	</complexType>
	
	
	<complexType name="ammissibilitaVerificaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:ammissibilitaVerificaRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:ammissibilitaVerificaDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaVerificaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:ammissibilitaVerificaAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaVerificaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="PK1"/>
					<element name="Operazione" type="string" fixed="PK1.0150"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaVerificaDatiSIIType">
		<sequence>
		
			<element name="Flusso" type="dat:FlussoPK1.0150Type"/>
		</sequence>
	</complexType>
	
	
	
	<complexType name="integrazioneRichiestaPrecheckMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:integrazioneRichiestaPrecheckRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:integrazioneRichiestaPrecheckDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="integrazioneRichiestaPrecheckRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:integrazioneRichiestaPrecheckAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="integrazioneRichiestaPrecheckAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="PK1"/>
					<element name="Operazione" type="string" fixed="PK1.0051"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="integrazioneRichiestaPrecheckDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoPK1.0051Type"/>
		</sequence>
	</complexType>
	
	
	<complexType name="esitoIntegrazioneRichiestaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:esitoIntegrazioneRichiestaRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:esitoIntegrazioneRichiestaDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="esitoIntegrazioneRichiestaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:esitoIntegrazioneRichiestaAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="esitoIntegrazioneRichiestaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="PK1"/>
					<element name="Operazione" type="string" fixed="PK1.0151"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="esitoIntegrazioneRichiestaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoPK1.0151Type"/>
		</sequence>
	</complexType>
	
	
</schema>
