CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/RC1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5"
	 xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.3"
	 xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_RC1/v1"
	 targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_RC1/v1"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<!-- *************** 0050 ***************** -->
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5" schemaLocation="StruttureGenerali_v1_5.xsd"/>
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.3" schemaLocation="StruttureEl_v1_3.xsd"/>

	<!-- ************** FLUSSI **************** -->
	<xs:complexType name="FlussoRC1.0050Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
					<xs:element name="ClienteFinale" type="sg:ClienteFinaleTributiType"/>
					<xs:element name="DatiRisoluzione" type="sg:DatiRisoluzioneContrattualeTipologiaType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="RC1" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0050" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- *************** 0100 ***************** -->
	<xs:complexType name="FlussoRC1.0100Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPOpzType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
					<xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="RC1" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0100" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>