CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/RC2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_RC2/v1"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5"
	xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.3"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_RC2/v1">
	
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5"	schemaLocation="StruttureGenerali_v1_5.xsd"/>
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.3" schemaLocation="StruttureEl_v1_3.xsd"/>
	
	<!-- ************** FLUSSI **************** -->
	
	<!-- *************** 0200 ***************** -->
	
	<xs:complexType name="FlussoRC2.0200Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaDistributoreGestoreCPType" />
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType" />
					<xs:element name="DatiRisoluzione" type="sg:DatiRisoluzioneContrattualeBaseType"/>            
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="RC2" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0200" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** 0201 ***************** -->
	
	<xs:complexType name="FlussoRC2.0201Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaDistributoreCPOpzGestoreCPType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
					<xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="RC2" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0201" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** RESP ***************** --> 

	<xs:complexType name="FlussoRC2.RESPType" >
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaDistributoreCPOpzGestoreCPType"/>
					<xs:element name="Esito" type="sg:DefaultEsitoType"/>
				</xs:sequence>        
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="RC2"/>
				<xs:attribute name="COD_FLUSSO" use="required" fixed="RESP"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>