CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/RT1_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_RT1/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_RT1/v1" 
		schemaLocation="RT1.xsd"/>

	<complexType name="trasmissioneRichiestaAttivazioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:trasmissioneRichiestaAttivazioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:trasmissioneRichiestaAttivazioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="trasmissioneRichiestaAttivazioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:trasmissioneRichiestaAttivazioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="trasmissioneRichiestaAttivazioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="RT1"/>
					<element name="Operazione" type="string" fixed="RT1.0050"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="trasmissioneRichiestaAttivazioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoRT1.0050Type"/>
		</sequence>
	</complexType>
	
	
	<complexType name="ammissibilitaTrasmissioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:ammissibilitaTrasmissioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:ammissibilitaTrasmissioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaTrasmissioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:ammissibilitaTrasmissioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaTrasmissioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="RT1"/>
					<element name="Operazione" type="string" fixed="RT1.0100"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaTrasmissioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoRT1.0100Type"/>
		</sequence>
	</complexType>
	
	<complexType name="notificaRiattivazioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:notificaRiattivazioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:notificaRiattivazioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRiattivazioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:notificaRiattivazioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRiattivazioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="RT1"/>
					<element name="Operazione" type="string" fixed="RT1.0200"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRiattivazioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoRT1.0200Type"/>
		</sequence>
	</complexType>
	
	<complexType name="notificaEsitoEsecuzioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:notificaEsitoEsecuzioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:notificaEsitoEsecuzioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaEsitoEsecuzioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:notificaEsitoEsecuzioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaEsitoEsecuzioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="RT1"/>
					<element name="Operazione" type="string" fixed="RT1.0150"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaEsitoEsecuzioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoRT1.0150Type"/>
		</sequence>
	</complexType>
	
</schema>
