CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/SE1_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SE1/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SE1/v1" schemaLocation="SE1.xsd"/>
	
	<!-- ************** SE1:0050 ************** --> 
	
	<complexType name="RichiestaSwitchingMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:RichiestaSwitchingRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:RichiestaSwitchingDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaSwitchingRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:RichiestaSwitchingAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaSwitchingAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SE1" />
					<element name="Operazione" type="string" fixed="SE1.0050" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaSwitchingDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSE1.0050Type" />
		</sequence>
	</complexType>

	<!-- ************** SE1:0050 ************** -->
	
	<!-- ************** SE1:0100 ************** -->
	
	<complexType name="AmmissibilitaRichiestaSwMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:AmmissibilitaRichiestaSwRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:AmmissibilitaRichiestaSwDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaSwRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:AmmissibilitaRichiestaSwAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaSwAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SE1" />
					<element name="Operazione" type="string" fixed="SE1.0100" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaSwDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSE1.0100Type" />
		</sequence>
	</complexType>
	
	<!-- ************** SE1:0100 ************** -->
	
	<!-- ************** SE1:0200 ************** -->
	
	<complexType name="NotificaDatiTimoeMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:NotificaDatiTimoeRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:NotificaDatiTimoeDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaDatiTimoeRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:NotificaDatiTimoeAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaDatiTimoeAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SE1" />
					<element name="Operazione" type="string" fixed="SE1.0200" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaDatiTimoeDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSE1.0200Type" />
		</sequence>
	</complexType>
	
	<!-- ************** SE1:0200 ************** -->

	<!-- ************** SE1:RESP ************** 

	<complexType name="DefaultResponseMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:DefaultResponseRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:DefaultResponseDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="DefaultResponseRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:DefaultResponseAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="DefaultResponseAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SE1"/>
					<element name="Operazione" type="string" fixed="SE1.RESP"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="DefaultResponseDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSE1.RESPType"/>
		</sequence>
	</complexType>

	 ************** SE1:RESP ************** -->
	
</schema>