CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/SM3_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SM3/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SM3/v1" schemaLocation="SM3.xsd"/>

	<complexType name="notificaRichiestaSMMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:notificaRichiestaSMRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:notificaRichiestaSMDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRichiestaSMRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:notificaRichiestaSMAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRichiestaSMAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SM3"/>
					<element name="Operazione" type="string" fixed="SM3.0200"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaRichiestaSMDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSM3.0200Type"/>
		</sequence>
	</complexType>
	
	<complexType name="notificaEsitoFinaleMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:notificaEsitoFinaleRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:notificaEsitoFinaleDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaEsitoFinaleRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:notificaEsitoFinaleAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaEsitoFinaleAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SM3"/>
					<element name="Operazione" type="string" fixed="SM3.0150"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaEsitoFinaleDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSM3.0150Type"/>
		</sequence>
	</complexType>
</schema>
