CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/SMG1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SMG1/v1"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SMG1/v1"
	xmlns:sgas="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.3"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5"
	elementFormDefault="qualified">

	<import namespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII" schemaLocation="SII_PdC-MessaggioSII.xsd" />
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.5" schemaLocation="StruttureGenerali_v1_5.xsd" />
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.3" schemaLocation="StruttureGas_v1_3.xsd" />
	
	<!-- Flussi Astratti -->

	<complexType name="FlussoSMG1Type" >
		<complexContent>
			<extension base="dat:FlussoSMG1BaseType">
				<sequence>
					<element name="MESE_TRASMISSIONE" type="sg:AAMMType"/>
				</sequence>        
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="FlussoSMG1BaseType" >
		<complexContent>
			<extension base="sg:FlussoTypeAbstract">
				<sequence>
					<element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaGestoreCPUtenteType"/>
				</sequence>        
				<attribute name="COD_SERVIZIO" use="required" fixed="SMG1"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FlussoSMG1.0200Type" >
		<complexContent>
			<extension base="dat:FlussoSMG1Type">
				<sequence>
					<element name="FileDisponibile" type="dat:DettaglioFileDisponibile0200Type"  minOccurs="1" maxOccurs="unbounded"/>
				</sequence>            
				<attribute name="COD_FLUSSO" use="required" fixed="0200"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="FlussoSMG1.0040Type" >
		<complexContent>
			<extension base="dat:FlussoSMG1BaseType">
				<sequence>
					<sequence>
						<element name="IDENTIFICATORE_FILE" type="sg:String255obb"/>
					</sequence>            
				</sequence>
				<attribute name="COD_FLUSSO" use="required" fixed="0040"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="FlussoSMG1.0101Type" >
		<complexContent>
			<extension base="dat:FlussoSMG1BaseType">
				<sequence>
					<sequence>
						<element name="Ammissibilita" type="sg:AmmissibilitaBaseType"/>
						<element name="InformazioniTrasmissione" type="dat:InformazioneTrasmissione0101Type" minOccurs="0"/>
					</sequence>            
				</sequence>
				<attribute name="COD_FLUSSO" use="required" fixed="0101"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="DettaglioFileDisponibile0200Type">
		<sequence>
			<element name="IDENTIFICATORE_FILE" type="sg:String255"/>
			<element name="DIMENSIONE_FILE" type="sg:Numeric6"/>
			<element name="TIPO_FILE" type="sg:FormatoFileType"/>
			<element name="TIPO_DATO" type="dat:TipoDato0200Type"/>
			<element name="DIGEST" type="sg:String100"/>
		</sequence>
	</complexType>
	
	<simpleType name="TipoDato0200Type">
		<restriction base="string">
			<enumeration value="ANA"/>
			<enumeration value="SWI"/>
			<enumeration value="SWO"/>
			<enumeration value="ana"/>
			<enumeration value="swi"/>
			<enumeration value="swo"/>
		</restriction>
	</simpleType>
	
	<complexType name="InformazioneTrasmissione0101Type">
		<sequence>
			<element name="FORMATO_FILE" type="sg:FormatoFileType"/>
			<element name="IDENTIFICATORE_FILE" type="sg:String255obb"/>
		</sequence>
	</complexType>
	
</schema>
