CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/StruttureGenerali_v1_12_IR.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12">
	
	<xs:include schemaLocation="StruttureGenerali_v1_12_ST.xsd"/>
	
	<xs:element name="PIVA_VENDITORE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_DISTRIBUTORE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_CONTROPARTE_COMMERCIALE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_GESTORE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_UTENTE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_UTENTE_ENTRANTE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_UTENTE_USCENTE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_UDD" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_CC" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_CC_ENTRANTE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_CC_USCENTE" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_CSEA" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_RESP_BIL" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_IT" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_UDB" type="sg:PartitaIVAUEType"/>
	<xs:element name="PIVA_TERNA" type="sg:PartitaIVAUEType"/> 
	<xs:element name="PIVA_RDB" type="sg:PartitaIVAUEType"/>
	<xs:element name="CP_GESTORE" type="sg:ProtocolloSIIType"/>
	<xs:element name="CP_DISTRIBUTORE" type="sg:ProtocolloSIIType"/>
	<xs:element name="CP_VENDITORE" type="sg:ProtocolloSIIType"/>
	<xs:element name="CP_UTENTE" type="sg:ProtocolloSIIType"/>
	<xs:element name="CP_CSEA" type="sg:ProtocolloSIIType"/>
	<xs:element name="CP_IT" type="sg:ProtocolloSIIType"/>
	<xs:element name="CP_UDB" type="sg:ProtocolloSIIType"/>
	<xs:element name="CP_TERNA" type="sg:ProtocolloSIIType"/>
	
  <!-- VENDITORE - GESTORE -->

  <xs:complexType name="IdentificativiRichiestaVenditoreGestoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_VENDITORE"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaVenditoreCPOpzGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaVenditoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_VENDITORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaVenditoreCPOpzGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaVenditoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_VENDITORE" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaVenditoreCPOpzGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaVenditoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_VENDITORE" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaVenditoreCPGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaVenditoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_VENDITORE"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaVenditoreCPGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaVenditoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_VENDITORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaVenditoreGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaVenditoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaVenditoreCPGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaVenditoreCPGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- GESTORE - VENDITORE -->

  <xs:complexType name="IdentificativiRichiestaGestoreVenditoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_VENDITORE"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreVenditoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreVenditoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_VENDITORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzVenditoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreVenditoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_VENDITORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzVenditoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreVenditoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_VENDITORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPVenditoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreVenditoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
          <xs:element ref="sg:CP_VENDITORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPVenditoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreVenditoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreVenditoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreVenditoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_VENDITORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPVenditoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreCPVenditoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_VENDITORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- DISTRIBUTORE - GESTORE -->

  <xs:complexType name="IdentificativiRichiestaDistributoreGestoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_DISTRIBUTORE"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaDistributoreCPOpzGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaDistributoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_DISTRIBUTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaDistributoreCPOpzGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaDistributoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_DISTRIBUTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaDistributoreGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaDistributoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaDistributoreCPOpzGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaDistributoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_DISTRIBUTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaDistributoreCPGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaDistributoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_DISTRIBUTORE"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaDistributoreCPGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaDistributoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_DISTRIBUTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaDistributoreGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaDistributoreGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaDistributoreCPGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaDistributoreCPGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- GESTORE - DISTRIBUTORE -->

  <xs:complexType name="IdentificativiRichiestaGestoreDistributoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_DISTRIBUTORE"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreDistributoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreDistributoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_DISTRIBUTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzDistributoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreDistributoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_DISTRIBUTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzDistributoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreDistributoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_DISTRIBUTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPDistributoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreDistributoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
          <xs:element ref="sg:CP_DISTRIBUTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPDistributoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreDistributoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreDistributoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreDistributoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_DISTRIBUTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPDistributoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreCPDistributoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_DISTRIBUTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- UTENTE - GESTORE -->

  <xs:complexType name="IdentificativiRichiestaUtenteGestoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_UTENTE"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaUtenteCPOpzGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUtenteGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UTENTE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUtenteCPOpzGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUtenteGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UTENTE" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUtenteCPOpzGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUtenteGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UTENTE" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaUtenteCPGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUtenteGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UTENTE"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaUtenteCPGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUtenteGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UTENTE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaUtenteGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUtenteGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaUtenteGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUtenteGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUtenteCPGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUtenteCPGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- GESTORE - UTENTE -->

  <xs:complexType name="IdentificativiRichiestaGestoreUtenteBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_GESTORE"/>
      <xs:element ref="sg:PIVA_UTENTE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreUtenteCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUtenteBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UTENTE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzUtenteCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUtenteBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_UTENTE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzUtenteCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUtenteBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_UTENTE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPUtenteCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUtenteBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
          <xs:element ref="sg:CP_UTENTE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPUtenteType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUtenteBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreUtenteCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUtenteBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UTENTE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaGestoreCPUtenteCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreCPUtenteType">
        <xs:sequence>
          <xs:element ref="sg:CP_UTENTE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- CSEA - GESTORE -->

  <xs:complexType name="IdentificativiRichiestaCassaGestoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_CSEA"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaCassaCPGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaCassaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_CSEA"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaCassaCPOpzGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaCassaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_CSEA" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaCassaGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaCassaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaCassaGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaCassaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaCassaCPGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaCassaCPGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaCassaCPGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaCassaCPGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaCassaCPOpzGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaCassaCPOpzGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaCassaCPOpzGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaCassaCPOpzGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- GESTORE - CSEA -->

  <xs:complexType name="IdentificativiRichiestaGestoreCassaBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_GESTORE"/>
      <xs:element ref="sg:PIVA_CSEA"/>
    </xs:sequence>
  </xs:complexType>

  <!-- UDB - GESTORE -->
  
  <xs:complexType name="IdentificativiRichiestaUdbGestoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_UDB"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUdbCPOpzGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUdbGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UDB" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUdbCPOpzGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUdbGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UDB" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUdbCPOpzGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUdbGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UDB" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUdbCPGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUdbGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UDB"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUdbCPGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUdbGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UDB"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUdbGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUdbGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUdbGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUdbGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaUdbCPGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaUdbCPGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  
  <!-- GESTORE - UDB -->
  
  <xs:complexType name="IdentificativiRichiestaGestoreUdbBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_GESTORE"/>
      <xs:element ref="sg:PIVA_UDB"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreUdbCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUdbBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UDB" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzUdbCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUdbBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_UDB" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzUdbCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUdbBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_UDB"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPUdbCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUdbBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
          <xs:element ref="sg:CP_UDB" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPUdbType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUdbBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreUdbCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUdbBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_UDB"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPUdbCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreCPUdbType">
        <xs:sequence>
          <xs:element ref="sg:CP_UDB"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- TERNA - GESTORE -->
  
  <xs:complexType name="IdentificativiRichiestaTernaGestoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_TERNA"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaTernaCPOpzGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaTernaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_TERNA" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaTernaCPOpzGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaTernaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_TERNA" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaTernaCPOpzGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaTernaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_TERNA" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaTernaCPGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaTernaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_TERNA"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaTernaCPGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaTernaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_TERNA"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaTernaGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaTernaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaTernaGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaTernaGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaTernaCPGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaTernaCPGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  
  <!-- GESTORE - UTENTE -->
  
  <xs:complexType name="IdentificativiRichiestaGestoreTernaBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_GESTORE"/>
      <xs:element ref="sg:PIVA_TERNA"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreTernaCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreTernaBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_TERNA" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzTernaCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUtenteBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_TERNA" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzTernaCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreTernaBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_TERNA"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPTernaCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreUtenteBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
          <xs:element ref="sg:CP_TERNA" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPTernaType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreTernaBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreTernaCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreTernaBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_TERNA"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPTernaCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreCPTernaType">
        <xs:sequence>
          <xs:element ref="sg:CP_TERNA"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- RESP. BIL. -->

  <xs:complexType name="IdentificativiRichiestaRespBilGestoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_RDB"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentificativiRichiestaRespBilGestoreCPBaseType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaRespBilGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- IMPRESA TRASPORTO - GESTORE-->
  
  <xs:complexType name="IdentificativiRichiestaImpTraspGestoreBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_IT"/>
      <xs:element ref="sg:PIVA_GESTORE"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaImpTraspGestoreCPBaseType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  

  <xs:complexType name="IdentificativiRichiestaImpTraspCPOpzGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_IT" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaImpTraspCPOpzGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_IT" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaImpTraspCPOpzGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_IT" minOccurs="0"/>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaImpTraspCPGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_IT"/>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaImpTraspCPGestoreType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_IT"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaImpTraspGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaImpTraspGestoreCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspGestoreBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaImpTraspCPGestoreCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaImpTraspCPGestoreType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  
  <!-- GESTORE - IMPRESA TRASPORTO -->
  
  <xs:complexType name="IdentificativiRichiestaGestoreImpTraspBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_GESTORE"/>
      <xs:element ref="sg:PIVA_IT"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreImpTraspCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreImpTraspBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_IT" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzImpTraspCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreImpTraspBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_IT" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPOpzImpTraspCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreImpTraspBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE" minOccurs="0"/>
          <xs:element ref="sg:CP_IT"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPImpTraspCPOpzType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreImpTraspBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
          <xs:element ref="sg:CP_IT" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPImpTraspType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreImpTraspBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_GESTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreImpTraspCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreImpTraspBaseType">
        <xs:sequence>
          <xs:element ref="sg:CP_IT"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentificativiRichiestaGestoreCPImpTraspCPType">
    <xs:complexContent>
      <xs:extension base="sg:IdentificativiRichiestaGestoreCPImpTraspType">
        <xs:sequence>
          <xs:element ref="sg:CP_IT"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>