CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/StruttureGas_v1_8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.8"
  elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:sgas="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.8"
  xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.10">

  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.10"
    schemaLocation="StruttureGenerali_v1_10.xsd"/>

  <!-- Tipologia PdR 0 = punto di riconsegna nella titolarità di un cliente domestico
                     1 = punto di riconsegna relativo a un condominio con uso domestico
                     2 = punto di riconsegna per usi diversi
                     3 = punto di riconsegna nella titolarità di un'utenza relativa ad attività di servizio pubblico  -->
  <xs:element name="TIPO_PDR" type="sgas:TipologiaPdrStringType"/>
  <xs:simpleType name="TipologiaPdrType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TipologiaPdrStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\w"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Codice PDR -->
  <xs:element name="COD_PDR" type="sgas:CodicePdrType"/>
  <xs:simpleType name="CodicePdrType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\da-zA-Z]{14}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Codice REMI -->
  <xs:element name="COD_REMI" type="sgas:CodiceRemiType"/>
  <xs:simpleType name="CodiceRemiType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\S.{0,13}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Prelievo Annuo Previsto -->
  <xs:element name="PRELIEVO_ANNUO_PREV" type="sgas:PrelievoAnnuoPrevistoType"/>
  <xs:simpleType name="PrelievoAnnuoPrevistoType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Codice profilo prelievo standard: rilassare enum-->
  <!--<xs:element name="COD_PROF_PREL_STD" type="sgas:CodProfPrelStdType"/>-->
  <xs:simpleType name="CodProfPrelStdType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C1A1"/>
      <xs:enumeration value="C1B1"/>
      <xs:enumeration value="C1C1"/>
      <xs:enumeration value="C1D1"/>
      <xs:enumeration value="C1E1"/>
      <xs:enumeration value="C1F1"/>
      <xs:enumeration value="C2X1"/>
      <xs:enumeration value="C3A1"/>
      <xs:enumeration value="C3B1"/>
      <xs:enumeration value="C3C1"/>
      <xs:enumeration value="C3D1"/>
      <xs:enumeration value="C3E1"/>
      <xs:enumeration value="C3F1"/>
      <xs:enumeration value="C4X1"/>
      <xs:enumeration value="C5A1"/>
      <xs:enumeration value="C5B1"/>
      <xs:enumeration value="C5C1"/>
      <xs:enumeration value="C5D1"/>
      <xs:enumeration value="C5E1"/>
      <xs:enumeration value="C5F1"/>
      <xs:enumeration value="T1X1"/>
      <xs:enumeration value="T1X2"/>
      <xs:enumeration value="T1X3"/>
      <xs:enumeration value="T2A1"/>
      <xs:enumeration value="T2B1"/>
      <xs:enumeration value="T2C1"/>
      <xs:enumeration value="T2D1"/>
      <xs:enumeration value="T2E1"/>
      <xs:enumeration value="T2F1"/>
      <xs:enumeration value="T2A2"/>
      <xs:enumeration value="T2B2"/>
      <xs:enumeration value="T2C2"/>
      <xs:enumeration value="T2D2"/>
      <xs:enumeration value="T2E2"/>
      <xs:enumeration value="T2F2"/>
      <xs:enumeration value="T2A3"/>
      <xs:enumeration value="T2B3"/>
      <xs:enumeration value="T2C3"/>
      <xs:enumeration value="T2D3"/>
      <xs:enumeration value="T2E3"/>
      <xs:enumeration value="T2F3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CodProfPrelStdStringType">
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Codice prestazione PdR -->
  <xs:element name="COD_PRESTAZIONE" type="sgas:CodPrestazionePdrStringType"/>

  <xs:simpleType name="CodPrestazionePdrType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A01"/>
      <xs:enumeration value="A40"/>
      <xs:enumeration value="D01"/>
      <xs:enumeration value="SW1"/>
      <xs:enumeration value="VL1"/>
      <xs:enumeration value="CA1"/>
      <xs:enumeration value="CA2"/>
      <xs:enumeration value="CA3"/>
      <xs:enumeration value="CA4"/>
      <xs:enumeration value="SM1"/>
      <xs:enumeration value="SM2"/>
      <xs:enumeration value="R01"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CodPrestazionePdrStringType">
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="TIPO_FORNITURA" type="sgas:TipoFornituraStringType"/>
  <xs:element name="TIPOLOGIA_VOLTURA" type="sg:String2ObbType"/>

  <xs:simpleType name="TipoFornituraType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="01"/>
      <xs:enumeration value="02"/>
      <xs:enumeration value="03"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TipoFornituraStringType">
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="MotivazioneDissociazioneStringType">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ConfermaAbbinamentoStringType">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="PIVA_UTENTE" type="sg:PartitaIVAUEType"/>
  <xs:element name="PIVA_DISTRIBUTORE" type="sg:PartitaIVAUEType"/>
  <xs:element name="DATA_ESECUZIONE" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_INIZIO" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_FINE" type="sg:GGMMAAAAType"/>
  <xs:element name="CODICE_COMUNE" type="sg:CodiceComuneIstatType"/>
  <xs:element name="MATR_MIS" type="sg:String20obb"/>
  <xs:element name="MATR_CONV" type="sg:String20obb"/>
  <xs:element name="N_CIFRE_CONV" type="sg:Numeric9"/>
  <xs:element name="ANNO_FABB_CONV" type="sg:Digit4Obb"/>
  <xs:element name="DATA_INST_CONV" type="sg:GGMMAAAAType"/>
  <xs:element name="COEFF_CORR" type="sg:DoublePositiveType"/>
  <xs:element name="PRESS_MISURA" type="sg:DoublePositiveType"/>
  <xs:element name="ACC_MIS" type="sg:Digit1"/>
  <xs:element name="N_CIFRE_MIS" type="sg:Numeric12"/>
  <xs:element name="ANNO_FAB_MIS" type="sg:Numeric4"/>
  <xs:element name="DATA_INST_MIS" type="sg:GGMMAAAAType"/>
  <xs:element name="GRUPPO_MIS_INT" type="sg:SiNoType"/>
  <xs:element name="CLASSE_GRUPPO_MIS" type="sg:String10obb"/>
  <xs:element name="ANNO_FABB_MIS" type="sg:AAAAType"/>
  <xs:element name="TELEGESTIONE" type="sg:SiNoType"/>
  <xs:element name="PRE_CONV" type="sg:SiNoType"/>
  <xs:element name="TIPO_MIS" type="sg:String2ObbType"/>
  <xs:element name="CLASSE_PRELIEVO" type="sg:String1"/>
  <xs:element name="PREL_ANNUO_PREV" type="sg:Numeric10"/>
  <xs:element name="TRATTAMENTO" type="sg:String3ObbType"/>
  <!-- non usato da nessun processo, modificato in double 
  <xs:element name="POT_MAX_RIC" type="sg:Numeric10"/> -->
  <xs:element name="POT_MAX_RIC" type="sg:DoublePositiveType"/>
  <!-- non usato da nessun processo, modificato in double 
  <xs:element name="POT_TOT_INST" type="sg:Numeric10"/>-->
  <xs:element name="POT_TOT_INST" type="sg:DoublePositiveType"/>
  <xs:element name="CAT_USO" type="sg:String2ObbType"/>
  <xs:element name="MAX_PREL_CONT" type="sg:DoublePositiveType"/>
  <xs:element name="MAX_PRELIEVO_ORA" type="sg:Numeric10"/>
  <xs:element name="BONUS" type="sg:SiNoType"/>
  <xs:element name="DATA_RINNOVO" type="sg:AAMMType"/>
  <xs:element name="TIPO_BONUS" type="sg:Digit1"/>
  <xs:element name="TIPO_RICHIESTA" type="sg:String3obb"/>
  <xs:element name="DISALIMENTABILITA" type="sg:SiNoType"/>
  <xs:element name="EROG_SERVIZIO_ENERG" type="sg:SiNoType"/>
  <xs:element name="MOTIVAZIONE" type="sg:String3ObbType"/>
  <xs:element name="DESCRIZIONE" type="sg:String255"/>
  <xs:element name="COD_PROF_PREL_STD" type="sgas:CodProfPrelStdStringType"/>
  <xs:element name="CODICE_CONTRATTO" type="sg:String35obb"/>
  <xs:element name="ACQUISTO_CREDITO" type="sg:EsitoBoolType"/>
  <xs:element name="SERVIZIO_ENERGETICO" type="sg:SiNoType"/>
  <xs:element name="PIVA_UDB" type="sg:PartitaIVAUEType"/>
  <xs:element name="PDR_CHIUSO_MOR" type="sg:EsitoBoolType"/>
  <xs:element name="PRESENZA_CMOR" type="sg:EsitoBoolType"/>
  <xs:element name="DATE_SOSP" type="sg:String255"/>
  <xs:element name="DATE_SOST" type="sg:String255"/>
  <xs:element name="DATA_ATT_FDD" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_CHIUSURA_PDR" type="sg:GGMMAAAAType"/>
  <xs:element name="ACCESSO_FUI" type="sg:SiNoType"/>
  <xs:element name="CAM" type="sg:Digit5Obb"/>
  <xs:element name="COMPR_CAM" type="sg:SiNoType"/>
  <!-- ABG -->
  <xs:element name="TIPO_NOTIFICA" type="sg:String5obb"/>
  <xs:element name="PROCESSO" type="sg:String5obb"/>
  <xs:element name="CP_GESTORE_PROCESSO" type="sg:ProtocolloSIIType"/>
  <xs:element name="CAP_TRASP_PDR" type="sg:DoublePositiveType"/>
  <xs:element name="CONFERMA_ABB" type="sgas:ConfermaAbbinamentoStringType"/>

  
  
  <xs:complexType name="DatiTecniciBaseType">
    <xs:sequence>
      <xs:element ref="sgas:COD_PDR"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiTecniciType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sgas:TIPO_PDR"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="DatiTecniciSoloRemiType">
    <xs:sequence>
      <xs:element ref="sgas:COD_REMI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiTecniciBaseRemiOpzType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sgas:COD_REMI" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 
  <xs:complexType name="DatiTecniciBaseRemiType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sgas:COD_REMI"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiTecniciRemiType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciBaseRemiType">
        <xs:sequence>
          <xs:element ref="sgas:TIPO_PDR"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="DatiTecniciRemiPotenzaType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciRemiType">
        <xs:sequence>
          <xs:element ref="sgas:Potenza"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="DatiTecniciSoloRemiPotenzaType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciSoloRemiType">
        <xs:sequence>
          <xs:element ref="sgas:Potenza"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="DatiTecniciCompletiType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciRemiType">
        <xs:sequence>
          <xs:element ref="sgas:Misuratore"  minOccurs="0"/>
          <xs:element ref="sgas:Potenza" minOccurs="0"/>
          <xs:element ref="sg:IndirizzoUbicazione" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="DatiTecniciAnagraficaType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sgas:COD_REMI"/>
          <xs:element ref="sgas:TIPO_PDR" minOccurs="0"/>
          <xs:element ref="sgas:COD_PROF_PREL_STD" minOccurs="0"/>
          <xs:element ref="sgas:PRELIEVO_ANNUO_PREV" minOccurs="0"/>
          <xs:element ref="sg:PIVA_DISTRIBUTORE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiTecniciAnagraficaBaseType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sgas:COD_REMI"/>
          <xs:element ref="sgas:TIPO_PDR"/>
          <xs:element ref="sg:PIVA_DISTRIBUTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Misuratore" type="sgas:DatiMisuratoreType"/>
  <xs:complexType name="DatiMisuratoreType">
    <xs:sequence>
      <xs:element ref="sgas:MATR_MIS"/>
      <xs:element ref="sgas:CLASSE_GRUPPO_MIS"/>
      <xs:element ref="sgas:PRE_CONV" minOccurs="0"/>
      <xs:element ref="sgas:MATR_CONV" minOccurs="0"/>
      <xs:element ref="sgas:COEFF_CORR" minOccurs="0"/>
      <xs:element ref="sgas:PRESS_MISURA" minOccurs="0"/>
      <xs:element ref="sgas:ACC_MIS" minOccurs="0"/>
      <xs:element ref="sgas:N_CIFRE_MIS" minOccurs="0"/>
      <xs:element ref="sgas:ANNO_FABB_MIS" minOccurs="0"/>
      <xs:element ref="sgas:GRUPPO_MIS_INT" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="Potenza" type="sgas:DatiPotenzaType"/>
  <xs:complexType name="DatiPotenzaType">
    <xs:sequence>
      <xs:element ref="sgas:POT_MAX_RIC"/>
      <xs:element ref="sgas:MAX_PREL_CONT"/>
      <xs:element ref="sgas:POT_TOT_INST"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="Prelievo" type="sgas:DatiPrelievoType"/>
  <xs:complexType name="DatiPrelievoType">
    <xs:sequence>
      <xs:element ref="sgas:CAT_USO"/>
      <xs:element ref="sgas:CLASSE_PRELIEVO"/>
      <xs:element ref="sgas:PREL_ANNUO_PREV"/>
      <xs:element ref="sgas:POT_MAX_RIC" minOccurs="0"/>
      <xs:element ref="sgas:POT_TOT_INST" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiTecniciConPrelievoType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sgas:COD_REMI" minOccurs="0"/>
          <xs:element ref="sgas:MATR_MIS" minOccurs="0"/>
          <xs:element ref="sgas:Prelievo"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiTecniciMatrMisType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sgas:MATR_MIS" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiPrestazionePdrType">
    <xs:sequence>
      <xs:element ref="sgas:COD_PRESTAZIONE"/>
      <xs:element ref="sgas:PIVA_UTENTE"/>
      <xs:element ref="sgas:DATA_ESECUZIONE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FornituraBaseType">
    <xs:sequence>
      <xs:element ref="sgas:DATA_INIZIO" minOccurs="0"/>
      <xs:element ref="sgas:DATA_FINE" minOccurs="0"/>
      <xs:element ref="sgas:TIPO_FORNITURA" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UbicazioneBaseType">
    <xs:sequence>
      <xs:element ref="sgas:CODICE_COMUNE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiAttivazioneVolturaGasBaseType">
    <xs:sequence>
      <xs:element ref="sgas:TIPOLOGIA_VOLTURA"/>
      <xs:element ref="sgas:TIPO_FORNITURA"/>
      <xs:element ref="sgas:TIPO_PDR"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiAttivazioneVolturaGasDecorrenzaType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiAttivazioneVolturaGasBaseType">
        <xs:sequence>
          <xs:element ref="sg:DATA_DECORRENZA"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiRichiestaAttivazioneVolturaGasType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiAttivazioneVolturaGasBaseType">
        <xs:sequence>
          <xs:element ref="sg:SETT_MERCEOLOGICO" minOccurs="0"/>
          <xs:element ref="sg:DATA_RICHIESTA"/>
          <xs:element ref="sg:DATA_DECORRENZA"/>
          <xs:element ref="sg:PIVA_CONTROPARTE_COMMERCIALE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiAttivazioneVolturaGasType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiAttivazioneVolturaGasBaseType">
        <xs:sequence>
          <xs:element ref="sg:PIVA_UTENTE_ENTRANTE"/>
          <xs:element ref="sg:PIVA_UTENTE_USCENTE"/>
          <xs:element ref="sg:DATA_DECORRENZA"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="DatiCommercialiBaseType">
    <xs:sequence>
      <xs:element ref="sgas:CODICE_CONTRATTO"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiCommercialiUIType">
    <xs:sequence>
      <xs:element ref="sgas:TIPO_FORNITURA"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiSwitchingType">
    <xs:sequence>
      <xs:element ref="sg:DATA_CONTRATTO"/>
      <xs:element ref="sg:DATA_DECORRENZA"/>
      <xs:element ref="sg:REVOCA" minOccurs="0"/>
      <xs:element ref="sgas:ACQUISTO_CREDITO" minOccurs="0"/>
      <xs:element ref="sg:PIVA_CC" minOccurs="0"/>
      <xs:element ref="sgas:PIVA_UDB" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiSwitchingBaseType">
    <xs:sequence>
      <xs:element ref="sg:DATA_DECORRENZA"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiSwitchingDistrType">
    <xs:complexContent>
      <xs:extension base="sgas:DatiSwitchingBaseType">
        <xs:sequence>
          <xs:element ref="sg:REVOCA" minOccurs="0"/>
          <xs:element ref="sg:PIVA_UTENTE"/>
          <xs:element ref="sg:PIVA_CC" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="ServizioEnergeticoType">
    <xs:sequence>
      <xs:element ref="sgas:SERVIZIO_ENERGETICO"/>
      <xs:element name="Anagrafica" type="sgas:ServizioEnergeticoAnagraficaBaseType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ServizioEnergeticoAnagraficaBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiTimgType">
    <xs:sequence>
      <xs:element ref="sgas:CAM" minOccurs="0"/>
      <xs:element ref="sgas:COD_REMI" minOccurs="0"/>
      <xs:element ref="sgas:COMPR_CAM" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
 
  <xs:complexType name="DatiTimg81Type">
    <xs:sequence>
      <xs:element ref="sgas:PDR_CHIUSO_MOR" minOccurs="0"/>
      <xs:element ref="sgas:DATE_SOSP" minOccurs="0"/>
      <xs:element ref="sgas:DATE_SOST" minOccurs="0"/>
      <xs:element ref="sgas:ACC_MIS" minOccurs="0"/>
      <xs:element ref="sgas:PRESENZA_CMOR" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiTimg81DistrType">
    <xs:sequence>
      <xs:element ref="sgas:DATE_SOSP" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiTivg39Ter1Type">
    <xs:sequence>
      <xs:element ref="sgas:DATA_ATT_FDD"/>
      <xs:element ref="sgas:DATA_CHIUSURA_PDR" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiTivg39Ter1DistrType">
    <xs:sequence>
      <xs:element ref="sgas:DATA_CHIUSURA_PDR" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiAccessoFuiBaseType">
    <xs:sequence>
      <xs:element ref="sgas:ACCESSO_FUI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiRisoluzioneContrattualeUIBaseType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_UTENTE"/>
      <xs:element ref="sg:PIVA_DISTRIBUTORE"/>
      <xs:element ref="sg:DATA_DECORRENZA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiRisoluzioneContrattualeUIType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_UTENTE"/>
      <xs:element ref="sg:TIPOLOGIA_RISOLUZIONE"/>
      <xs:element ref="sg:DATA_DECORRENZA"/>
      <xs:element ref="sg:TIPO_NOTIFICA" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiSettlementType">
    <xs:sequence>
      <xs:element ref="sgas:TRATTAMENTO"  minOccurs="0"/>
      <xs:element ref="sgas:PREL_ANNUO_PREV"/>
      <xs:element ref="sgas:COD_PROF_PREL_STD"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiBonusSocialeType">
    <xs:sequence>
      <xs:element ref="sgas:BONUS"/>
      <xs:element ref="sg:DATA_INIZIO" minOccurs="0"/>
      <xs:element ref="sg:DATA_FINE" minOccurs="0"/>
      <xs:element ref="sgas:DATA_RINNOVO" minOccurs="0"/>
      <xs:element ref="sgas:TIPO_BONUS" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiAttivazioneUIType">
    <xs:sequence>
      <xs:element ref="sg:TIPOLOGIA_RISOLUZIONE"/>
      <xs:element ref="sg:DATA_DECORRENZA"/>
      <xs:element ref="sg:TIPO_NOTIFICA"/>
      <xs:element ref="sg:PIVA_DISTRIBUTORE"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
