CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/StruttureEl_v1_12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.12"
  elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.12"
  xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12">

  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12"
    schemaLocation="StruttureGenerali_v1_12.xsd"/>

  <xs:element name="COD_POD" type="sel:CodicePODType"/>
  <xs:element name="DATA_RICHIESTA" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_CONTRATTO" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_DECORRENZA" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_DECORRENZA_RET" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_FINE" type="sg:GGMMAAAAType"/>
  <xs:element name="COD_CONTR_DISP" type="sel:CodContrattoDispacciamentoType"/>
  <xs:element name="COD_CONTR_DISP_ENTRANTE" type="sel:CodContrattoDispacciamentoType"/>
  <xs:element name="COD_CONTR_DISP_USCENTE" type="sel:CodContrattoDispacciamentoType"/>
  <xs:element name="PIVA_UTENTE" type="sg:PartitaIVAUEType"/>
  <xs:element name="PIVA_UTENTE_ENTRANTE" type="sg:PartitaIVAUEType"/>
  <xs:element name="PIVA_UTENTE_USCENTE" type="sg:PartitaIVAUEType"/>
  <xs:element name="PIVA_CONTROPARTE_COMMERCIALE" type="sg:PartitaIVAUEType"/>
  <xs:element name="REVOCA_TIMOE" type="sg:EsitoBoolType"/>
  <xs:element name="ACQUISTO_CREDITO" type="sg:EsitoBoolType"/>
  <xs:element name="SOSP_MOR" type="sg:EsitoBoolType"/>
  <xs:element name="PRESENZA_CMOR" type="sg:EsitoBoolType"/>
  <xs:element name="DATE_SOSP" type="sg:DateGGMMAAAAType"/>
  <xs:element name="DATE_SWITCH" type="sg:DateGGMMAAAAType"/>
  <xs:element name="DATA_SALVAGUARDIA" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_ULTIMA_RICH_SOSP" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_ULTIMA_SOSP" type="sg:GGMMAAAAType"/>
  <xs:element name="TIPOLOGIA_RISOLUZIONE" type="sg:TipologiaRisoluzioneType"/>
  <xs:element name="TENSIONE" type="sg:Numeric10"/>
  <xs:element name="TIPO_POD" type="sg:String2ObbType"/>
  <xs:element name="TIPO_MISURATORE" type="sg:String1"/>
  <xs:element name="CIFREATT_O" type="sg:Numeric3"/>
  <xs:element name="CIFREREA_O" type="sg:Numeric3"/>
  <xs:element name="KA" type="sg:Decimal_12_3_Type"/>
  <xs:element name="KR" type="sg:Decimal_12_3_Type"/>
  <xs:element name="KP" type="sg:Decimal_12_3_Type"/>
  <xs:element name="MATRATT" type="sg:String17obb"/>
  <xs:element name="MATRREA" type="sg:String17obb"/>
  <xs:element name="MATRPOT" type="sg:String17obb"/>
  <xs:element name="DATAINSTMISATT" type="sg:GGMMAAAAType"/>
  <xs:element name="DATAINSTMISREA" type="sg:GGMMAAAAType"/>
  <xs:element name="DATAINSTMISPOT" type="sg:GGMMAAAAType"/>
  <xs:element name="DATAOPERMISATT" type="sg:GGMMAAAAType"/>
  <xs:element name="DATAOPERMISREAT" type="sg:GGMMAAAAType"/>
  <xs:element name="DATAOPERMISPOT" type="sg:GGMMAAAAType"/>
  <xs:element name="CIFREATT_NO" type="sg:Numeric3"/>
  <xs:element name="CIFREREA_NO" type="sg:Numeric3"/>
  <xs:element name="CIFREPOT_NO" type="sg:Numeric3"/>
  <xs:element name="GRUPPOMIS" type="sg:String2ObbType"/>
  <xs:element name="FORFAIT" type="sg:String2ObbType"/>
  <xs:element name="COD_PRESTAZIONE" type="sg:String3ObbType"/>
  <xs:element name="CAUSALE_INTERRUZIONE" type="sg:String255obb"/>
  <xs:element name="DATA_ESECUZIONE" type="sg:GGMMAAAAType"/>
  <xs:element name="DATA_FINE_FRODE" type="sg:GGMMAAAAType"/>
  <xs:element name="DISALIMENTABILITA" type="sg:String1"/>
  <xs:element name="TARIFFA" type="sg:String4obb"/>
  <xs:element name="POTCONTRIMP" type="sg:Decimal_9_3_Type"/>
  <xs:element name="POTDISP" type="sg:Decimal_9_3_Type"/>
  <xs:element name="MESE_SETTLEMENT" type="sg:MMType"/>
  <xs:element name="TRATTAMENTO_M" type="sg:String1"/>
  <xs:element name="TRATTAMENTO_M1" type="sg:String1"/>
  <xs:element name="CONSUMO_TOT" type="sg:Decimal_12_3_Type"/>
  <xs:element name="CONSUMO_F1" type="sg:Decimal_12_3_Type"/>
  <xs:element name="CONSUMO_F2" type="sg:Decimal_12_3_Type"/>
  <xs:element name="CONSUMO_F3" type="sg:Decimal_12_3_Type"/>
  <xs:element name="REGIME_COMPENSAZIONE" type="sg:String20obb"/>
  <xs:element name="BF_DATA_INIZIO" type="sg:AAMMGGType"/>
  <xs:element name="BF_DATA_FINE" type="sg:AAMMGGType"/>
  <xs:element name="BF_DATA_RINNOVO" type="sg:AAMMType"/>
  <xs:element name="BE_DATA_INIZIO" type="sg:AAMMGGType"/>
  <xs:element name="BE_DATA_FINE" type="sg:AAMMGGType"/>
  <xs:element name="BE_DATA_RINNOVO" type="sg:AAMMType"/>
  <xs:element name="RAG_SOC_UDD" type="sg:String255obb"/>
  
  <xs:simpleType name="CodicePODType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\S.{13}.?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DatiTecniciBaseType">
    <xs:sequence>
      <xs:element ref="sel:COD_POD"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiTecniciDistributoreType">
    <xs:complexContent>
      <xs:extension base="sel:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sg:PIVA_DISTRIBUTORE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiTecniciUbicazioneBaseType">
    <xs:complexContent>
      <xs:extension base="sel:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element ref="sg:ISTAT" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiTecniciFornituraType">
    <xs:complexContent>
      <xs:extension base="sel:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element name="Fornitura" type="sg:IndirizzoType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiTecniciCompletiType">
    <xs:complexContent>
      <xs:extension base="sel:DatiTecniciFornituraType">
        <xs:sequence>
          <xs:element name="Ubicazione" type="sg:IndirizzoType" minOccurs="0"/>
          <xs:element name="Tensione" type="sel:TensioneType" minOccurs="0"/>
          <xs:element name="TipologiaPod" type="sel:TipologiaPodType" minOccurs="0"/>
          <xs:element name="Misuratore" type="sel:MisuratoreType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiTecniciTipologiaType">
    <xs:complexContent>
      <xs:extension base="sel:DatiTecniciBaseType">
        <xs:sequence>
          <xs:element name="TipologiaPod" type="sel:TipologiaPodType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TensioneType">
    <xs:sequence>
      <xs:element ref="sel:TENSIONE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TipologiaPodType">
    <xs:sequence>
      <xs:element ref="sel:TIPO_POD" minOccurs="0"/>
      <xs:element ref="sel:DATA_FINE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MisuratoreType">
    <xs:sequence>
      <xs:element ref="sel:TIPO_MISURATORE" minOccurs="0"/>
      <xs:element ref="sel:CIFREATT_O" minOccurs="0"/>
      <xs:element ref="sel:CIFREREA_O" minOccurs="0"/>
      <xs:element ref="sel:KA" minOccurs="0"/>
      <xs:element ref="sel:KR" minOccurs="0"/>
      <xs:element ref="sel:KP" minOccurs="0"/>
      <xs:element ref="sel:MATRATT" minOccurs="0"/>
      <xs:element ref="sel:MATRREA" minOccurs="0"/>
      <xs:element ref="sel:MATRPOT" minOccurs="0"/>
      <xs:element ref="sel:DATAINSTMISATT" minOccurs="0"/>
      <xs:element ref="sel:DATAINSTMISREA" minOccurs="0"/>
      <xs:element ref="sel:DATAINSTMISPOT" minOccurs="0"/>
      <xs:element ref="sel:CIFREATT_NO" minOccurs="0"/>
      <xs:element ref="sel:CIFREREA_NO" minOccurs="0"/>
      <xs:element ref="sel:CIFREPOT_NO" minOccurs="0"/>
      <xs:element ref="sel:GRUPPOMIS" minOccurs="0"/>
      <xs:element ref="sel:FORFAIT" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiPrestazioneType">
    <xs:sequence>
      <xs:element ref="sel:COD_PRESTAZIONE"/>
      <xs:element ref="sel:CAUSALE_INTERRUZIONE" minOccurs="0"/>
      <xs:element ref="sel:PIVA_UTENTE" minOccurs="0"/>
      <xs:element ref="sel:COD_CONTR_DISP" minOccurs="0"/>
      <xs:element ref="sel:DATA_ESECUZIONE" minOccurs="0"/>
      <xs:element ref="sel:DATA_FINE_FRODE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiPrestazioneUDDType">
    <xs:sequence>
      <xs:element ref="sel:COD_PRESTAZIONE"/>
      <xs:element ref="sel:PIVA_UTENTE"/>
      <xs:element ref="sel:COD_CONTR_DISP"/>
      <xs:element ref="sel:DATA_ESECUZIONE" minOccurs="0"/>
      <xs:element ref="sel:DATA_FINE_FRODE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiMisuratore2GType">
    <xs:sequence>
      <xs:element ref="sel:DATAOPERMISATT" minOccurs="0"/>
      <xs:element ref="sel:DATAOPERMISREAT" minOccurs="0"/>
      <xs:element ref="sel:DATAOPERMISPOT" minOccurs="0"/>
      <xs:element name="MOTIVAZIONE" type="sg:String255obb"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiCommercialiType">
    <xs:sequence>
      <xs:element ref="sel:DISALIMENTABILITA" minOccurs="0"/>
      <xs:element ref="sel:TARIFFA" minOccurs="0"/>
      <xs:element ref="sel:POTCONTRIMP" minOccurs="0"/>
      <xs:element ref="sel:POTDISP" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SettlementType">
    <xs:sequence>
      <xs:element name="Attivazione" type="sel:SettlementAttivazioneType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SettlementAttivazioneType">
    <xs:sequence>
      <xs:element ref="sel:MESE_SETTLEMENT" minOccurs="0"/>
      <xs:element ref="sel:TRATTAMENTO_M" minOccurs="0"/>
      <xs:element ref="sel:TRATTAMENTO_M1" minOccurs="0"/>
      <xs:element ref="sel:CONSUMO_TOT" minOccurs="0"/>
      <xs:element ref="sel:CONSUMO_F1" minOccurs="0"/>
      <xs:element ref="sel:CONSUMO_F2" minOccurs="0"/>
      <xs:element ref="sel:CONSUMO_F3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="TIPOLOGIA_VOLTURA" type="sel:TipologiaVolturaType"/>
  <xs:simpleType name="TipologiaVolturaType">
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="TIPO_CONTRATTO" type="sel:TipoContrattoType"/>
  <xs:simpleType name="TipoContrattoType">
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="CATEGORIA_CLIENTE" type="sel:CategoriaClienteType"/>
  <xs:simpleType name="CategoriaClienteType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\S.{0,2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="SETT_MERCEOLOGICO" type="sel:SettMerceolType"/>
  <xs:simpleType name="SettMerceolType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\S.{0,7}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CodContrattoDispacciamentoType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\S.{0,5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="VolturaDatiAttivazioneBaseType">
    <xs:sequence>
      <xs:element ref="sel:TIPOLOGIA_VOLTURA"/>
      <xs:element ref="sel:TIPO_CONTRATTO"/>
      <xs:element ref="sel:CATEGORIA_CLIENTE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VolturaAccettazioneDatiAttivazioneType">
    <xs:sequence>
      <xs:element ref="sel:COD_CONTR_DISP"/>
      <xs:element ref="sel:PIVA_UTENTE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VolturaDatiAttivazioneNotificaType">
    <xs:complexContent>
      <xs:extension base="sel:VolturaDatiAttivazioneBaseType">
        <xs:sequence>
          <xs:element ref="sel:DATA_DECORRENZA"/>
          <xs:element ref="sel:DATA_DECORRENZA_RET" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VolturaDatiAttivazioneRichiestaType">
    <xs:complexContent>
      <xs:extension base="sel:VolturaDatiAttivazioneBaseType">
        <xs:sequence>
          <xs:element ref="sel:DATA_RICHIESTA"/>
          <xs:element ref="sel:DATA_DECORRENZA"/>
          <xs:element ref="sel:DATA_DECORRENZA_RET" minOccurs="0"/>
          <xs:element ref="sel:COD_CONTR_DISP"/>
          <xs:element ref="sel:PIVA_CONTROPARTE_COMMERCIALE" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VolturaDatiAttivazioneComunicazioneType">
    <xs:complexContent>
      <xs:extension base="sel:VolturaDatiAttivazioneBaseType">
        <xs:sequence>
          <xs:element ref="sel:COD_CONTR_DISP_ENTRANTE"/>
          <xs:element ref="sel:PIVA_UTENTE_ENTRANTE"/>
          <xs:element ref="sel:COD_CONTR_DISP_USCENTE"/>
          <xs:element ref="sel:PIVA_UTENTE_USCENTE"/>
          <xs:element ref="sel:DATA_DECORRENZA"/>
          <xs:element ref="sel:DATA_DECORRENZA_RET" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VolturaDatiAttivazioneEsitoType">
    <xs:sequence>
      <xs:element ref="sel:COD_CONTR_DISP"/>
      <xs:element ref="sel:DATA_DECORRENZA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiSwitchingBaseType">
    <xs:sequence>
      <xs:element ref="sel:DATA_DECORRENZA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiSwitchingRichType">
    <xs:sequence>
      <xs:element ref="sel:DATA_CONTRATTO"/>
      <xs:element ref="sel:DATA_DECORRENZA"/>
      <xs:element ref="sel:REVOCA_TIMOE" minOccurs="0"/>
      <xs:element ref="sel:ACQUISTO_CREDITO" minOccurs="0"/>
      <xs:element ref="sel:COD_CONTR_DISP"/>
      <xs:element ref="sel:PIVA_CONTROPARTE_COMMERCIALE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiSwitchingInoltroBaseType">
    <xs:sequence>
      <xs:element ref="sel:DATA_DECORRENZA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiSwitchingInoltroType">
    <xs:complexContent>
      <xs:extension base="sel:DatiSwitchingInoltroBaseType">
        <xs:sequence>
          <xs:element ref="sel:REVOCA_TIMOE" minOccurs="0"/>
          <xs:element ref="sel:COD_CONTR_DISP"/>
          <xs:element ref="sel:PIVA_UTENTE"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatiTimoe6-4Type">
    <xs:sequence>
      <xs:element ref="sel:SOSP_MOR"/>
      <xs:element ref="sel:PRESENZA_CMOR"/>
      <xs:element ref="sg:MERCATO_PROVENIENZA"/>
      <xs:element ref="sel:DATE_SOSP" minOccurs="0"/>
      <xs:element ref="sel:DATE_SWITCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiTimoe6-4BaseType">
    <xs:sequence>
      <xs:element ref="sel:SOSP_MOR"/>
      <xs:element ref="sel:PRESENZA_CMOR"/>
      <xs:element ref="sel:DATE_SOSP" minOccurs="0"/>
      <xs:element ref="sel:DATE_SWITCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiTimoe14-1Type">
    <xs:sequence>
      <xs:element ref="sel:DATA_SALVAGUARDIA"/>
      <xs:element ref="sel:DATA_ULTIMA_RICH_SOSP" minOccurs="0"/>
      <xs:element ref="sel:DATA_ULTIMA_SOSP" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiRisoluzioneContrattualeType">
    <xs:sequence>
      <xs:element ref="sel:PIVA_UTENTE"/>
      <xs:element ref="sel:COD_CONTR_DISP"/>
      <xs:element ref="sel:DATA_DECORRENZA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatiEstesiRisoluzioneContrattualeType">
    <xs:sequence>
      <xs:element ref="sel:PIVA_UTENTE"/>
      <xs:element ref="sel:COD_CONTR_DISP"/>
      <xs:element ref="sel:TIPOLOGIA_RISOLUZIONE"/>
      <xs:element ref="sel:DATA_DECORRENZA"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="BonusSocialeType">
    <xs:sequence>
      <xs:element ref="sel:REGIME_COMPENSAZIONE" minOccurs="0"/>
      <xs:element ref="sel:BF_DATA_INIZIO" minOccurs="0"/>
      <xs:element ref="sel:BF_DATA_FINE" minOccurs="0"/>
      <xs:element ref="sel:BF_DATA_RINNOVO" minOccurs="0"/>
      <xs:element ref="sel:BE_DATA_INIZIO" minOccurs="0"/>
      <xs:element ref="sel:BE_DATA_FINE" minOccurs="0"/>
      <xs:element ref="sel:BE_DATA_RINNOVO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiDispacciamentoType">
    <xs:sequence>
      <xs:element ref="sel:COD_CONTR_DISP"/>
      <xs:element ref="sg:PIVA_UDD"/>
      <xs:element ref="sel:RAG_SOC_UDD"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
