CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/SWG1_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SWG1/v1"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.9"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">
	
	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>
	
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SWG1/v1" schemaLocation="SWG1.xsd"/>
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.9" schemaLocation="StruttureGenerali_v1_9.xsd" />
	
	<complexType name="RichiestaSwitchingMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:RichiestaSwitchingRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:RichiestaSwitchingDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaSwitchingRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:RichiestaSwitchingAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaSwitchingAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SWG1"/>
					<element name="Operazione" type="string" fixed="SWG1.0050"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RichiestaSwitchingDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSWG1.0050Type"/>
		</sequence>
	</complexType>
	
	<complexType name="AmmissibilitaRichiestaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:AmmissibilitaRichiestaRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:AmmissibilitaRichiestaDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:AmmissibilitaRichiestaAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaRichiestaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SWG1"/>
					<element name="Operazione" type="string" fixed="SWG1.0100"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="AmmissibilitaRichiestaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSWG1.0100Type"/>
		</sequence>
	</complexType>
	
	<complexType name="NotificaDatiTimgMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:NotificaDatiTimgRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:NotificaDatiTimgDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaDatiTimgRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:NotificaDatiTimgAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaDatiTimgAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SWG1"/>
					<element name="Operazione" type="string" fixed="SWG1.0200"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="NotificaDatiTimgDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSWG1.0200Type"/>
		</sequence>
	</complexType>
	
</schema>
