CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/SWG2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SWG2/v1"
  xmlns:sgas="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.7"
  xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.9">
  
  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.7" schemaLocation="StruttureGas_v1_7.xsd"/>
  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.9" schemaLocation="StruttureGenerali_v1_9.xsd"/>
  
  <!-- ************** FLUSSI **************** -->
  
  <xs:complexType name="FlussoSWG2.0050Type" >
    <xs:complexContent>
      <xs:extension base="sg:FlussoTypeAbstract">
        <xs:sequence>
          <xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaDistributoreGestoreCPType"/>
          <xs:element name="DatiTecnici" type="sgas:DatiTecniciBaseType"/>
		  <xs:element name="ClienteFinale" type="sg:ClienteFinaleConDatiFiscaliBaseType"/>
          <xs:element name="DatiSwitching" type="sgas:DatiSwitchingDistrType"/>
        </xs:sequence>        
        <xs:attribute name="COD_SERVIZIO" use="required" fixed="SWG2"/>
        <xs:attribute name="COD_FLUSSO" use="required" fixed="0050"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="FlussoSWG2.0100Type" >
    <xs:complexContent>
      <xs:extension base="sg:FlussoTypeAbstract">
        <xs:sequence>
          <xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaDistributoreCPOpzGestoreCPType"/>
          <xs:element name="DatiTecnici" type="sgas:DatiTecniciBaseType"/>
          <xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType"/>
          <xs:element name="Dati_TIMG_8_1" type="sgas:DatiTimg81DistrType" minOccurs="0"/>
          <xs:element name="Dati_TIVG_39_TER_1" type="sgas:DatiTivg39Ter1DistrType" minOccurs="0"/>
        </xs:sequence>        
        <xs:attribute name="COD_SERVIZIO" use="required" fixed="SWG2"/>
        <xs:attribute name="COD_FLUSSO" use="required" fixed="0100"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="FlussoSWG2.RESPType" >
    <xs:complexContent>
      <xs:extension base="sg:FlussoTypeAbstract">
        <xs:sequence>
          <xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaDistributoreCPOpzGestoreCPType"/>
          <xs:element name="Esito" type="sg:DefaultEsitoType"/>
        </xs:sequence>        
        <xs:attribute name="COD_SERVIZIO" use="required" fixed="SWG2"/>
        <xs:attribute name="COD_FLUSSO" use="required" fixed="RESP"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
</xs:schema>
