CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/SWG3_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SWG3/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SWG3/v1" schemaLocation="SWG3.xsd"/>
	
	<!-- ************** SWG3:0200 ************** -->
	
	<complexType name="ComunicazioneRecessoMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:ComunicazioneRecessoRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:ComunicazioneRecessoDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ComunicazioneRecessoRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:ComunicazioneRecessoAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ComunicazioneRecessoAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SWG3" />
					<element name="Operazione" type="string" fixed="SWG3.0200" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ComunicazioneRecessoDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSWG3.0200Type" />
		</sequence>
	</complexType>
	
</schema>