CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/SWG4_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SWG4/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_SWG4/v1" schemaLocation="SWG4.xsd"/>
	
	<!-- ************** SWG4:0200 ************** -->
	
	<complexType name="ComunicazioneAccettazioneSwitchingMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:ComunicazioneAccettazioneSwitchingRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:ComunicazioneAccettazioneSwitchingDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ComunicazioneAccettazioneSwitchingRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:ComunicazioneAccettazioneSwitchingAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ComunicazioneAccettazioneSwitchingAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="SWG4" />
					<element name="Operazione" type="string" fixed="SWG4.0200" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ComunicazioneAccettazioneSwitchingDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoSWG4.0200Type" />
		</sequence>
	</complexType>
	
</schema>