CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/TR1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_TR1/v1"
	xmlns:pt="http://www.acquirenteunico.it/schemas/SII_AU/StrutturePT/v1.0"
    xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12">

  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12" schemaLocation="StruttureGenerali_v1_12.xsd" />
  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StrutturePT/v1.0" schemaLocation="StrutturePT_v1_0.xsd" />
  
<!-- ************** FLUSSI **************** -->

  <xs:complexType name="FlussoTR1.0200Type" >
    <xs:complexContent>
      <xs:extension base="sg:FlussoTypeAbstract">
        <xs:sequence>
          <xs:element name="IdentificativiRichiesta" type="pt:IdentificativiRichiestaDistrGestoreTrackType"/>
		  <xs:element name="DatiPraticaTecnica" type="pt:DatiPraticaTecnicaType"/>
          <xs:element name="DatiTecnici" type="pt:DatiTecniciBaseType"/>
		  <xs:element name="Tracking" type="pt:TrackingType"/>          
        </xs:sequence>        
        <xs:attribute name="COD_SERVIZIO" use="required" fixed="TR1"/>
        <xs:attribute name="COD_FLUSSO" use="required" fixed="0200"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="FlussoTR1.0250Type" >
    <xs:complexContent>
      <xs:extension base="sg:FlussoTypeAbstract">
        <xs:sequence>
          <xs:element name="IdentificativiRichiesta" type="pt:IdentificativiRichiestaDistrGestoreTrackType"/>
          <xs:element name="DatiTecnici" type="pt:DatiTecniciBaseType"/>
          <xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType"/>
        </xs:sequence>        
        <xs:attribute name="COD_SERVIZIO" use="required" fixed="TR1"/>
        <xs:attribute name="COD_FLUSSO" use="required" fixed="0250"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  
</xs:schema>
