CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/TR2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_TR2/v1"
	xmlns:pt="http://www.acquirenteunico.it/schemas/SII_AU/StrutturePT/v1.0"
    xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12">

    <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12" schemaLocation="StruttureGenerali_v1_12.xsd" />
    <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StrutturePT/v1.0" schemaLocation="StrutturePT_v1_0.xsd" />

	
	<xs:complexType name="FlussoTR2.0200Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="pt:IdentificativiUtenteGestoreType"/>
					<xs:element name="DatiPraticaTecnica" type="pt:DatiPraticaTecnicaType"/>
					<xs:element name="DatiTecnici" type="pt:DatiTecniciBaseType"/>
					<xs:element name="Tracking" type="pt:TrackingType"/>     
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="TR2"/>
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0200"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


</xs:schema>
