CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/TR2_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_TR2/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_TR2/v1" schemaLocation="TR2.xsd"/>

	<complexType name="notificaTrackingMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:notificaTrackingRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:notificaTrackingDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaTrackingRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:notificaTrackingAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaTrackingAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="TR2"/>
					<element name="Operazione" type="string" fixed="TR2.0200"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaTrackingDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoTR2.0200Type"/>
		</sequence>
	</complexType>
	
</schema>
