CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/UIG3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_UIG3/v1"
  xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_UIG3/v1"
  xmlns:sgas="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.7"
  xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.9">
  
  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.7" schemaLocation="StruttureGas_v1_7.xsd"/>
  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.9" schemaLocation="StruttureGenerali_v1_9.xsd"/>
  
  <!-- ************** FLUSSI **************** -->
  <xs:complexType name="DatiAttivazioneUltimaIstanzaType">
    <xs:sequence>
      <xs:element ref="sg:PIVA_UTENTE"/>
      <xs:element ref="sg:DATA_DECORRENZA"/>
    </xs:sequence>
  </xs:complexType>
    
  <xs:complexType name="FlussoUIG3.0200Type" >
    <xs:complexContent>
      <xs:extension base="sg:FlussoTypeAbstract">
        <xs:sequence>
          <xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteGestoreCPType"/>
          <xs:element name="DatiTecnici" type="sgas:DatiTecniciBaseType"/>
           <xs:element name="ClienteFinale" type="sg:ClienteFinaleConDatiFiscaliBaseType"/>
          <xs:element name="DatiAttivazioneUltimaIstanza" type="dat:DatiAttivazioneUltimaIstanzaType"/>
        </xs:sequence>        
        <xs:attribute name="COD_SERVIZIO" use="required" fixed="UIG3"/>
        <xs:attribute name="COD_FLUSSO" use="required" fixed="0200"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
   
</xs:schema>
