CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VPU1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VPU1/v1"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.4"
	xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.2"
	xmlns:sgas="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.1"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VPU1/v1">
	
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.4"	schemaLocation="StruttureGenerali_v1_4.xsd"/>
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.1"	schemaLocation="StruttureGas_v1_1.xsd"/>
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.2" schemaLocation="StruttureEl_v1_2.xsd"/>
	
	<xs:complexType name="DatiTecniciType">
		<xs:sequence>
			<xs:element ref="sel:COD_POD" minOccurs="0"/>
			<xs:element ref="sgas:COD_PDR" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DatiAbbinamentoType">
		<xs:sequence>
			<xs:element ref="sg:PIVA_VENDITORE" minOccurs="0"/>
			<xs:element ref="sg:DATA_DEC_CONTR"/>
			<xs:element ref="sg:SETTORE"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ************** FLUSSI **************** -->
	
	<!-- *************** 0050 ***************** -->
	
	<xs:complexType name="FlussoVPU1.0050Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPOpzType" />
					<xs:element name="DatiTecnici" type="dat:DatiTecniciType" />
					<xs:element name="DatiAbbinamento" type="dat:DatiAbbinamentoType" />
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="VPU1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0050" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** 0050 ***************** -->
	
	<!-- *************** 0100 ***************** -->
	
	<xs:complexType name="FlussoVPU1.0100Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPOpzType" />
					<xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType" />
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="VPU1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0100" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** 0100 ***************** -->
	
	<!-- *************** 0150 ***************** -->
	
	<xs:complexType name="FlussoVPU1.0150Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPType" />
					<xs:element name="Esito" type="sg:EsitoBaseType" />
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="VPU1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0150" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** 0150 ***************** -->

</xs:schema>