CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VS2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.6"
	 xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.4"
	 xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VS2/v1"
	 targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VS2/v1"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.6" schemaLocation="StruttureGenerali_v1_6.xsd"/>
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.4" schemaLocation="StruttureEl_v1_4.xsd"/>

	<!-- ************** FLUSSI **************** -->
	<xs:complexType name="FlussoVS2.0200Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteGestoreCPType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciTipologiaType"/>
					<xs:element name="DatiPrestazione" type="sel:DatiPrestazioneUDDType"/>
					<xs:element name="ClienteFinale" type="sg:ClienteFinaleBaseType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="VS2" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0200" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- *************** 0201 ***************** -->
	<xs:complexType name="FlussoVS2.0201Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
					<xs:element name="ClienteFinale" type="sg:ClienteFinaleCompletoObbType"/>
					<xs:element name="ReferenteClienteFinale" type="sg:ReferenteClienteFinaleBaseType" minOccurs="0"/>
					<xs:element name="DatiCommerciali" type="sg:DatiCommercialiType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="VS2" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0201" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- *************** 0210 ***************** -->
	<xs:complexType name="FlussoVS2.0210Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPType"/>
					<xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
					<xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" type="xs:anySimpleType" fixed="VS2" use="required"/>
				<xs:attribute name="COD_FLUSSO" type="xs:anySimpleType" fixed="0210" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- *************** 0200 ***************** -->
</xs:schema>