CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VSG1_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VSG1/v1"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.8"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">
	
	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>
	
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VSG1/v1" schemaLocation="VSG1.xsd"/>
	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.8" schemaLocation="StruttureGenerali_v1_8.xsd" />
	
	<complexType name="TrasmissioneVariazioneStatoPDRMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:TrasmissioneVariazioneStatoPDRRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:TrasmissioneVariazioneStatoPDRDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TrasmissioneVariazioneStatoPDRRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:TrasmissioneVariazioneStatoPDRAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TrasmissioneVariazioneStatoPDRAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VSG1"/>
					<element name="Operazione" type="string" fixed="VSG1.0050"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TrasmissioneVariazioneStatoPDRDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVSG1.0050Type"/>
		</sequence>
	</complexType>
	
	<complexType name="AmmissibilitaTrasmissioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:AmmissibilitaTrasmissioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:AmmissibilitaTrasmissioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaTrasmissioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:AmmissibilitaTrasmissioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaTrasmissioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VSG1"/>
					<element name="Operazione" type="string" fixed="VSG1.0100"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="AmmissibilitaTrasmissioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVSG1.0100Type"/>
		</sequence>
	</complexType>
	
</schema>
