CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VSG2_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VSG2/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VSG2/v1" schemaLocation="VSG2.xsd"/>
	
	<!-- ************** VSG2:0200 ************** -->
	
	<complexType name="NotificaVariazioneStatoPDRMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:NotificaVariazioneStatoPDRRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:NotificaVariazioneStatoPDRDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaVariazioneStatoPDRRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:NotificaVariazioneStatoPDRAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaVariazioneStatoPDRAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VSG2" />
					<element name="Operazione" type="string" fixed="VSG2.0200" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaVariazioneStatoPDRDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVSG2.0200Type" />
		</sequence>
	</complexType>
	
	<!-- ************** VSG2:0200 ************** -->

</schema>