CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VT2_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VT2/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VT2/v1" schemaLocation="VT2.xsd"/>

	<complexType name="trasmissioneAttivazioneContrattualeMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:trasmissioneAttivazioneContrattualeRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:trasmissioneAttivazioneContrattualeDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="trasmissioneAttivazioneContrattualeRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:trasmissioneAttivazioneContrattualeAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="trasmissioneAttivazioneContrattualeAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VT2"/>
					<element name="Operazione" type="string" fixed="VT2.0050"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="trasmissioneAttivazioneContrattualeDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVT2.0050Type"/>
		</sequence>
	</complexType>
	
	
	<complexType name="ammissibilitaNotificaMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:ammissibilitaNotificaRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:ammissibilitaNotificaDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaNotificaRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:ammissibilitaNotificaAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaNotificaAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VT2"/>
					<element name="Operazione" type="string" fixed="VT2.0100"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ammissibilitaNotificaDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVT2.0100Type"/>
		</sequence>
	</complexType>
	
	<complexType name="defaultResponseMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:defaultResponseRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:defaultResponseDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="defaultResponseRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:defaultResponseAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="defaultResponseAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VT2"/>
					<element name="Operazione" type="string" fixed="VT2.RESP"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="defaultResponseDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVT2.RESPType"/>
		</sequence>
	</complexType>
	
	<complexType name="confermaAttivazioneMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:confermaAttivazioneRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:confermaAttivazioneDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="confermaAttivazioneRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:confermaAttivazioneAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="confermaAttivazioneAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VT2"/>
					<element name="Operazione" type="string" fixed="VT2.0150"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="confermaAttivazioneDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVT2.0150Type"/>
		</sequence>
	</complexType>
	
</schema>
