CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VT3_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VT3/v2"
    xmlns:sel="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.12"
    xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12">
  
  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureEL/v1.12" schemaLocation="StruttureEl_v1_12.xsd" />
  <xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12" schemaLocation="StruttureGenerali_v1_12.xsd" />
  
<!-- ************** FLUSSI **************** -->

  <xs:complexType name="FlussoVT3.0200Type" >
    <xs:complexContent>
      <xs:extension base="sg:FlussoTypeAbstract">
        <xs:sequence>
          <xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteGestoreCPType"/>
          <xs:element name="DatiTecnici" type="sel:DatiTecniciBaseType"/>
          <xs:element name="ClienteFinale" type="sg:ClienteFinaleCompletoVTType"/>            
          <xs:element name="DatiAttivazione" type="sel:VolturaDatiAttivazioneNotificaType"/>
          <xs:element name="ReferenteClienteFinale" type="sg:AnagraficaReferenteClienteFinaleType" minOccurs="0" /> 
          <xs:element name="DatiCommerciali" type="sg:DatiCommercialiTutelaType" minOccurs="0" />                                                     
        </xs:sequence>        
        <xs:attribute name="COD_SERVIZIO" use="required" fixed="VT3"/>
        <xs:attribute name="COD_FLUSSO" use="required" fixed="0200"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
</xs:schema>
