CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VT3_msgSII_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VT3/v2"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VT3/v2" schemaLocation="VT3_v2.xsd"/>

	<complexType name="notificaAttivazioneContrattualeMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:notificaAttivazioneContrattualeRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:notificaAttivazioneContrattualeDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaAttivazioneContrattualeRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:notificaAttivazioneContrattualeAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaAttivazioneContrattualeAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VT3"/>
					<element name="Operazione" type="string" fixed="VT3.0200"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="notificaAttivazioneContrattualeDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVT3.0200Type"/>
		</sequence>
	</complexType>
	
</schema>
