CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VTG1_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VTG1/v2"
	xmlns:sg="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12"
	xmlns:sgas="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.9"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VTG1/v2">
	
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGenerali/v1.12"	schemaLocation="StruttureGenerali_v1_12.xsd"/>
	<xs:import namespace="http://www.acquirenteunico.it/schemas/SII_AU/StruttureGAS/v1.9" schemaLocation="StruttureGas_v1_9.xsd" />
	
	<!-- ************** FLUSSI **************** -->
	
	<!-- *************** 0050 ***************** -->
	
	<xs:complexType name="FlussoVTG1.0050Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreType" />
					<xs:element name="DatiTecnici" type="sgas:DatiTecniciConPrelievoVTGType" />
					<xs:element name="DatiAttivazione" type="sgas:DatiAttivazioneVTGType"/>
					<xs:element name="ClienteFinale" type="sg:ClienteFinaleVTGType"/>            
					<xs:element name="ReferenteClienteFinale" type="sg:ReferenteClienteFinaleOpzType"/> 
					<xs:element name="DatiCommerciali" type="sg:DatiCommercialiVTGType"/>            
					<xs:element name="ServizioEnergetico" type="sgas:ServizioEnergeticoVTGType"/>
					<xs:element name="Autolettura" type="sg:AutoletturaType" minOccurs="0"/>
					<xs:element name="InformazioniFUI" type="sg:InformazioniFuiType"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="VTG1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0050" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** 0100 ***************** -->
	
	<xs:complexType name="FlussoVTG1.0100Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPOpzType" />
					<xs:element name="DatiTecnici" type="sgas:DatiTecniciBaseType" />
					<xs:element name="Ammissibilita" type="sg:AmmissibilitaBaseType" />
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="VTG1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0100" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- *************** 0150 ***************** -->
	
	<xs:complexType name="FlussoVTG1.0150Type">
		<xs:complexContent>
			<xs:extension base="sg:FlussoTypeAbstract">
				<xs:sequence>
					<xs:element name="IdentificativiRichiesta" type="sg:IdentificativiRichiestaUtenteCPGestoreCPType"/>
					<xs:element name="DatiTecnici" type="sgas:DatiTecniciBaseType"/>
					<xs:element name="Esito" type="sg:EsitoBaseType"/>
					<xs:element name="ClienteFinale" type="sg:ClienteFinaleConDenomType" minOccurs="0"/>
					<xs:element name="DatiAttivazione" type="sg:DatiAttivazioneBaseType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="COD_SERVIZIO" use="required" fixed="VTG1" />
				<xs:attribute name="COD_FLUSSO" use="required" fixed="0150" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>