CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VTG2_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VTG2/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VTG2/v1" schemaLocation="VTG2.xsd"/>
	
	<!-- ************** VTG2:0050 ************** --> 
	
	<complexType name="TrasmissioneAttivazioneContrattualeMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:TrasmissioneAttivazioneContrattualeRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:TrasmissioneAttivazioneContrattualeDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TrasmissioneAttivazioneContrattualeRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:TrasmissioneAttivazioneContrattualeAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TrasmissioneAttivazioneContrattualeAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VTG2" />
					<element name="Operazione" type="string" fixed="VTG2.0050" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TrasmissioneAttivazioneContrattualeDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVTG2.0050Type" />
		</sequence>
	</complexType>

	<!-- ************** VTG2:0050 ************** -->
	
	<!-- ************** VTG2:0100 ************** -->
	
	<complexType name="AmmissibilitaNotificaAttivazioneContrattualeMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:AmmissibilitaNotificaAttivazioneContrattualeRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:AmmissibilitaNotificaAttivazioneContrattualeDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaNotificaAttivazioneContrattualeRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:AmmissibilitaNotificaAttivazioneContrattualeAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaNotificaAttivazioneContrattualeAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VTG2" />
					<element name="Operazione" type="string" fixed="VTG2.0100" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AmmissibilitaNotificaAttivazioneContrattualeDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVTG2.0100Type" />
		</sequence>
	</complexType>
	
	<!-- ************** VTG2:0100 ************** -->

	<!-- ************** VTG2:RESP ************** --> 

	<complexType name="DefaultResponseMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:DefaultResponseRichiestaSIIType"/>
					<element name="DatiSII" type="msgSII:DefaultResponseDatiSIIType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="DefaultResponseRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:DefaultResponseAzioneRichiestaType"/>
					<element name="Erogatore" type="msgSII:UtenteType"/>
					<element name="Fruitore" type="msgSII:UtenteType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="DefaultResponseAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VTG2"/>
					<element name="Operazione" type="string" fixed="VTG2.RESP"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType> 
	<complexType name="DefaultResponseDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVTG2.RESPType"/>
		</sequence>
	</complexType>

	<!-- ************** VTG2:RESP ************** -->
	
	<!-- ************** VTG2:0150 ************** --> 
	
	<complexType name="ConfermaAttivazioneContrattualeMessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:ConfermaAttivazioneContrattualeRichiestaSIIType" />
					<element name="DatiSII" type="msgSII:ConfermaAttivazioneContrattualeDatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ConfermaAttivazioneContrattualeRichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:ConfermaAttivazioneContrattualeAzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ConfermaAttivazioneContrattualeAzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VTG2" />
					<element name="Operazione" type="string" fixed="VTG2.0150" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ConfermaAttivazioneContrattualeDatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVTG2.0150Type" />
		</sequence>
	</complexType>
	
	<!-- ************** VTG2:0150 ************** -->
	
</schema>