CommonUtilsSII/Schemas/External/SII/PrestazioniTecniche/schemas/VTG5_msgSII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:msgSII="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII"
	xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VTG5/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.acquirenteunico.it/schemas/2010/SII_AU/MessaggioSII">

	<include schemaLocation="SII_PdC-MessaggioSII.xsd"/>

	<import namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_VTG5/v1" schemaLocation="VTG5.xsd"/>
	
	<!-- ************** VTG5:0200 ************** -->
	
	<complexType name="NotificaNuovoUddTit4MessaggioSIIType">
		<complexContent>
			<restriction base="msgSII:MessaggioSIIType">
				<sequence>
					<element name="RichiestaSII" type="msgSII:NotificaNuovoUddTit4RichiestaSIIType" />
					<element name="DatiSII" type="msgSII:NotificaNuovoUddTit4DatiSIIType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaNuovoUddTit4RichiestaSIIType">
		<complexContent>
			<restriction base="msgSII:RichiestaSIIType">
				<sequence>
					<element name="AzioneRichiesta" type="msgSII:NotificaNuovoUddTit4AzioneRichiestaType" />
					<element name="Erogatore" type="msgSII:UtenteType" />
					<element name="Fruitore" type="msgSII:UtenteType" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaNuovoUddTit4AzioneRichiestaType">
		<complexContent>
			<restriction base="msgSII:AzioneRichiestaType">
				<sequence>
					<element name="Servizio" type="string" fixed="VTG5" />
					<element name="Operazione" type="string" fixed="VTG5.0200" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NotificaNuovoUddTit4DatiSIIType">
		<sequence>
			<element name="Flusso" type="dat:FlussoVTG5.0200Type" />
		</sequence>
	</complexType>
	
	<!-- ************** VTG5:0200 ************** -->
	
</schema>